extends layout

block content
	script(src='/scripts/clickables.js')
	h1 #{name}

	div(value=group_list, id='list_all')
		each hab, i in group_list
			a(href='/allgroups/#{hab._id}')
				.span12
					.well
						div(id="group_info")
							h2 #{hab.habit}
							| #{hab.description}
						div(id="new_bet")
							h4 Deadline: #{hab.deadline}
							h4 Money Pool: $#{hab.monpool}
				