extends layout

block content
	script(src='/scripts/clickables.js')
	.span4
		br
		br
		img(src='#{img}')
		br
		br
		h1 #{name}
	.span4
	.span4
		.well
			h1 Goal: #{habit.habit}
			.form-actions
				h3 Bet: $#{habit.my_bet}
				h3 Deadline: #{habit.deadline}
				.progress
					.bar(style='width: 60%;')
			.form-actions
				a.btn.btn-danger.btn-large(href='/record') Record your Success!
	.span12
		.well
			h1 Friends
			each friend, i in friend_list
				div
					| #{friend}
